.wrapper {
  width: 100%;
}

.container {
  max-width: 1630px;
  height: 100vh;
  max-height: calc(100vh - 224px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.containerPodcast {
  max-width: 1630px;
  height: 100vh;
  max-height: calc(100vh - 356px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.frame {
  width: 100%;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  background-image: var(--parent-background-color);
}

.box {
  width: 100%;
  height: 8000px;
  margin-top: 12px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  background-image: var(--parent-background-color);

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: var(--main-background-color);
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(235, 235, 235, 1);
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 1);
  }
}

@media (min-width: 893px) and (max-width: 1037px) {
  .frame {
    height: 243px;
  }
}
