@import "normalize.css";

:root {
  //Fonts
  --main-title-font: "ProximaNova", sans-serif;
  --main--text-color: rgba(255, 255, 255, 0.8);

  //Color
  --popper-background-color: rgba(12, 12, 20, 0.8);
  --outer-background-color: rgba(5, 5, 5, 0.8);
  --parent-background-color: linear-gradient(
    to top,
    rgba(102, 128, 150, 0.1) 30%,
    rgba(58, 123, 189, 0.2) 50%,
    rgba(145, 187, 229, 0.1) 100%
  );
  --hover-background-color: rgba(120, 100, 120, 0.2);

  --child-background-color: linear-gradient(
    to top,
    rgba(102, 128, 150, 0.2) 30%,
    rgba(58, 123, 189, 0.2) 50%,
    rgba(145, 187, 229, 0.2) 100%
  );
  --main-move-color: rgba(255, 255, 255, 1);

  //Border
  --main-border: 0.2px solid #746c6b75;
  --frame-border: 2px solid #746c6b75;
  --main-border-radius: 15px;
  --child-border: 0.1px solid rgba(255, 255, 255, 0.5);
}

html,
body {
  font-size: 62.5%;
  font-family: var(--main-title-font);
  font-size: 1.6rem;
  width: 100vw;
  min-width: 768px;
  text-rendering: optimizeSpeed;
  background-color: rgba(12, 12, 20, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: auto;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--main--text-color);
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  font-style: normal;
  text-decoration: none;
  color: var(--main--text-color);
}

@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/ProximaNovaT-Thin.woff2");
  font-weight: 100;
}

@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/ProximaNova-RegularIt.woff2");
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/ProximaNova-Semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/ProximaNova-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/ProximaNova-Extrabld.woff2");
  font-weight: 800;
}
