.wrapper {
  width: 100%;
  height: 120px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  background-image: var(--child-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-frame {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.search-result {
  width: 55vw;
  max-width: 1566px;
  min-width: 413px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 0 30px;
  background-color: rgba(12, 12, 20, 0.8);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.search-input {
  width: 100%;
  padding: 0 15px;
  font-size: 1.2rem;
  color: var(--main--text-color);
}

input {
  caret-color: var(--main-move-color);
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  color: rgba(12, 12, 20, 0.8);
  background-color: var(--main-move-color);
  border-radius: 999px;
  border: var(--main-border);
}

.title-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--popper-background-color);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  box-shadow: rgba(255, 255, 255, 0.15) 0px 2px 12px;
}

.title-1,
.title-2,
.title-3,
.title-4 {
  font-size: 1rem;
  line-height: 1.6;
  margin: 15px;
  padding: 2px 4px;
  border-radius: 10px;
  border: var(--main-border);
  background-image: var(--child-background-color);
  cursor: pointer;

  &.active {
    background-color: rgba(128, 128, 128, 0.3);
  }
}

.title-1 {
  margin-left: 20px;
}

.music-track,
.music-maker,
.album,
.podcast {
  width: 100%;
  height: 100%;
}
