.app {
  width: 100%;
  max-width: calc(100% - 12px);
  min-width: 788px;
  height: 100%;
  max-height: calc(100% - 12px);
  min-height: 465px;
  display: flex;
  justify-content: center;
  align-items: center;
}
