.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--child-background-color);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  position: relative;
}

.link {
  width: 280px;
  height: 280px;
  position: absolute;
  cursor: pointer;
}

.frame {
  margin-top: 18px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--main-border-radius);
  border: var(--main-border);
  image-rendering: -webkit-optimize-contrast;
}

.desc {
  width: 200px;
  height: 78px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.podcast-name {
  font-size: 0.8rem;
}

.podcast-performer {
  font-size: 0.7rem;
  opacity: 0.6;
}

.podcast-desc {
  font-size: 0.7rem;
  margin: 2px 0;
  opacity: 0.6;
}
